
#viewDiv {
  padding: 0;
  margin: 0;
  height: calc(100vh - 60px);
  width: 100%;
}

.logo {
  height: 25px;
  width: 35px;
}

.navbar.navbar-default.navbar-static-top {
  background-color: #2D602E !important;
  height: 40px;
}


.app-title {
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
}

.main.bslib-gap-spacing.html-fill-container  {
  padding: 0px !important;
  margin: 0px;
  gap: 0 !important;
}

.sidebar-content {
  padding-top: 15px !important;
}

#extractPanel {
  width: 425px;
}


.feature-table {
  height: 275px;
  padding: 0px 5px 5px 20px;
}

.map-wth-feature-table {
  height: calc(100vh - 335px) !important;
}

#labelDiv {
  display: flex;
  justify-content: space-between;
  margin-top: -23px;
  border-top: 1px solid black;
}

#cardDiv1 {
  padding-top: 15px;
  width: 430px;
}

.btn.btn-default.btn-file,
.form-control,
#clear_data_1-clear_data,
#upload_rasters_1-remove_user_raster,
#upload_rasters_1-add_raster_btn,
.remove-raster-btn .btn {
  padding: 5px;
}

.add_raster_control .row > *,
.extract-download .row  {
 padding-left: 5px;
 padding-right: 5px;
}

.add_raster_p {
  display: flex;
  align-items: center;
}

.stats {
  margin-top: -25px;
  margin-left: 230px;
}

.invalid-feedback {
  margin-top: -53px;
}
  
.user-fields {
  margin-top: -15px;
}

.shiny-notification-panel {
  padding: 5px;
}

.shiny-notification-message {
	background-color: #33862B ;
	color:#000000;
	font-weight: 900;
}

.progress-bar,
#extract_data_1-extract_data {
  background-color: #33862B;
  color: #000000;
}

#extract_data_1-extract_data:hover {
  color: #FFF;
}

.stats input[type="radio"]:checked {
  background-color: #33862B;
}

.nav-item .nav-link .active {
  color: #000 !important;
}

.nav-item .nav-link  {
  color: #33862B;
}

.nav-item .nav-link:hover  {
  color: #000;
}

.dropdown-menu>li.active>a,
.dropdown-menu>li>a:active {
  background-color: #33862B;
}

/* map spinner */
.spinner {
  position: absolute;
  display: none;
  margin: auto;
  height: 10em;
  top: 35%; right: 35%;
  transform: translate(50%,-50%);
  width: 10em;
  border: 6px solid rgba(0, 96, 46, 0.2);
  border-top-color: rgba(0, 96, 46, 0.8);
  border-radius: 50%;
  animation: rotation 0.8s infinite linear;
  z-index: 9999;
}
/* map spinner: rotation */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}